.contactus {
    margin-top: -100px;
    position: relative;
    width: 100%;
}

.contactus .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactus .title h2 {
    color: rgb(255, 0, 0);
    font-weight: 500;
}

.form {
    grid-area: form;
}

.info {
    grid-area: info;
}

.contact {
    padding: 40px;
    background: #fff;
    box-shadow: 0px 5px 35px rgba(240, 154, 154, 0.863);
}

.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: "form info";
    grid-gap: 20px;
}

.contact h3 {
    text-align: center;
    margin-bottom: 10px;
}


/* Form */

.formBox {
    position: relative;
    width: 100%;
}

.formBox .row50 {
    display: flex;
    gap: 20px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.row100 .inputBox {
    width: 100%;
}

.inputBox span {
    color: red;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input {
    padding: 10px;
    font-size: 0.86em;
    outline: none;
    border: 1px solid #000000;
}

.inputBox textarea {
    padding: 10px;
    font-size: 0.86em;
    outline: none;
    border: 1px solid #000000;
    resize: none;
    min-height: 110px;
    margin-bottom: 10px;
}

.inputBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.inputBox input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: black;
}


/* INFO */

.info {
    background: rgb(200, 0, 0);
    color: #fff;
}

.info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div p {
    text-align: center;
    font-size: 23px;
    color: #fff;
}

.a {
    padding-left: 75px;
    color: #000dc4ce;
    font-size: 1.5em;
}

.a:hover {
    color: rgb(251, 255, 1);
}